<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shooting Game</title>

  <!-- build:css main.min.css -->
  <link rel="stylesheet" href="/static/dist/css/main.min.css">
  <!-- /build -->
</head>

<body>

  <div id="shooting-game" class="game"></div>

  <script src="http://127.0.0.1:35729/livereload.js"></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/bower_components/phaser-official/build/phaser.min.js"></script>
  <script src="/static/dist/js/main.js"></script>

</body>
</html>

